NewsAndWeatherService/Products.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Products"
    targetNamespace="http://tempuri.org/Products.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Products.xsd"
    xmlns:mstns="http://tempuri.org/Products.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:complexType name="Product">
    <xs:sequence>
      <xs:element name="Name" minOccurs="0" maxOccurs="1" type="xs:string" default="2.2"></xs:element>
      <xs:element name="Qunatity" minOccurs="0" maxOccurs="1" type="xs:double"></xs:element>
      <xs:element name="Price" minOccurs="0" maxOccurs="1" type="xs:double"></xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
